var transporter = nodemailer.createTransport({
  service: 'gmail',
  auth: {
      user: 'aswkyrakatja@gmail.com',
      pass: 'jawakota26'
  }
});

var mailOptions = {
  from: 'paulina.mikey@gmail.com',
  to: 'paulinadavita@gmail.com',
  subject: 'Obat Anda',
  html: 
  `<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Your Simple Prescription</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
      <script src="main.js"></script>
      <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
  
     })();
  </script>
  </head>
  <body>
      <h1> <center> Resep dan Saran </h1></center>
  
      <center>
      <table>
          <thead>Obat Yang Disarankan :</thead>
          <% for (let data of data.Symptoms) {%>
         <tr>
  
              <td><%= data.brandName %></td>
              <td><%= data.price %></td>
              <td><%= data.name %></td>
          </tr>
          <% } %>
      </table>
      </center>
  </body>
  </html>`
};
transporter.sendMail(mailOptions, (err, info) => {
  if (err) throw err;
  console.log('Email sent: ' + info.response);
});